div.react-console-container {
  color: #ffffff;
  font-size: 0.85em;
  font-family: "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
  box-sizing: border-box;
  flex-grow:1;
  overflow-y: auto;
  white-space: pre;
  max-height:100%;
}

div.react-console-prompt-box {
  color: #f4f4f4;
}

span.react-console-prompt-label {
  font-weight: bold;
}
span.react-console-cursor.react-console-cursor-idle{
  background: #fff;
}
div.react-console-focus span.react-console-cursor {
  background: #e1e1e1;
  color: #eee;
}

div.react-console-nofocus span.react-console-cursor {
  background: #fff;
  color: #fff;
  outline: 0.1em solid #fff;
  outline-offset: -0.1em;
}

div.react-console-focus span.react-console-cursor-idle {
  background: #f4f4f4;
  animation: react-console-cursor-animation 1s infinite;
}
@keyframes react-console-cursor-animation {
  0% {
    background: #ebebeb;
    color: #eee;
  }
  50% {
    background: #b0b0b0;
    color: #eee;
  }
  51% {
    background: none;
    color: #441513;
  }
  100% {
    background: none;
    color: #ecda32;
  }
}

div.react-console-message {
  color: #d6d4d9;
  padding: 0.1em;
}

div.react-console-message-error {
  color: #ff313d;
}

div.react-console-message-warning {
  color: #ffd92f;
}
